<h1> Product </h1>
<h2><%= @product.name %></h2>
<h3>The price is <%= @product.price %></h3>
<p> Image <%= @product.image %></p>
<p> Description: <%= @product.description %></p>
<!-- <a href= "/products"> Back to all products</a> -->
<%=link_to "Edit this product", "/products/#{@product.id}/edit" %>
<%=link_to "Back to all products", "/products" %>
